<!DOCTYPE html>
<html>
  <head>
    <title>api u&ampi</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 style="text-align: center">API Up &amp Running</h1>
  </body>
</html>