<!DOCTYPE html>
<html>
  <head>
    <title>api u&ampi</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      body {
        background-color:#0D2D38;
        color: white;
      }

      h1 {
        font-size: 72px;
      }
    </style>
  </head>
  <body>
    <h1 style="text-align: center">API Up <span style="color: #2DDD6D">&amp</span> Running</h1>
  </body>
</html>