form {
    text-align: center;
    width: 400px;
    height: 200px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

form input {
    padding: 10px 20px;
    margin: 10px;
}

button {
    padding: 13px 30px;
    background-color: #2DDD6D;
    border: none;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    margin-top: 10px;
    width: 167px;
}

button:focus{
    outline: #2DDD6D;
}

button:hover {
    cursor: pointer;
    background-color: #3F35FC;
    color: white;
}