<div class="wrap">
  <div class="float">
    <div *ngIf="!auth.user" class="message">
      <h1>What <br>
        <span class="lime">are</span> you?
      </h1>
    </div>

    <div *ngIf="auth.user" class="message">
        <h1>Welcome <br>
          <span class="lime">{{ auth.user.username }}</span>.
        </h1>
      </div>

      <span class="mini">
        create an account<br>
        with your <span class="underline">role</span> or <span class="underline">browse</span><br>
        devui is an open community with <br>
        free [templates] to use in your projects
      </span>
  </div>

  <div class="right">
    <div class="btns">
      <button class="lime-bg">Developer</button>
      <button class="pink">UI Designer</button>
    </div>
  </div>
</div>

<!--
<div ng-controller="mover">
  <img id="bg" class="movingImage" src="https://i.pinimg.com/originals/69/34/23/693423670038b856b3e778e6e1955f0a.png" />
</div>
-->

<!-- 
  <script>
    var app = angular.module("app", []);
    app.controller('mover', ['$scope', function ($scope) {
        $scope.mouseDown = function (event) {
            $scope.X = event.clientX;
            $scope.Y = event.clientY;
        };
    }]);
</script> 
-->