<div class="wrap">
  <div class="float">
      <img src="" alt="U&I" /><br>
      <span class="slogan">develop: together</span>
    
      <h1>What <br>
      <span class="lime">are</span> you?</h1>
    
      <span class="mini">
        create an account<br>
        with your <span class="underline">role</span> or <span class="underline">browse</span><br>
        devui is an open community with <br>
        free [templates] to use in your projects
      </span>
  </div>

  <div class="right">
    <div class="btns">
      <button class="lime-bg">Developer</button>
      <button>UI Designer</button>
    </div>
  </div>
</div>