.title {
    font-family: 'Raleway';
    text-transform: uppercase;
    padding:10px 0;
    letter-spacing: 1px;
}

button {
    padding: 10px 29px;
    width: 150px;
    background-color: #2DDD6D;
    border: none;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    margin:21px 20px 0px 9px;
}

button:hover {
    cursor: pointer;
    background-color: #3b3b3b;
    color: white;
}

a {
    color: white;
}

.votes {
    margin: 10px;
    font-size: 10px;
    letter-spacing: 1px;
    padding: 10px;
    display: inline-block;
    background-color: #d63e71;
}

.reverse {
    transform: rotate(180deg); 
    -ms-transform: rotate(180deg); 
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.rate {
    padding: 10px;
    width: 50px;
}

.rate img {
    width: 16px;
}

.right, .left {
    float: left;
}

.left img {
    margin-bottom: 1em;
    vertical-align: middle;
}

.description {
    font-size: 10px;
    max-width: 614px;
    text-align: justify;
    line-height: 18px;
}

.purple {
    color: #2DDD6D;
    text-transform: lowercase;
    font-size: 11px;
}

.user img{
    margin-right: 5px;
    vertical-align: middle;
}

.wrapper {
    overflow-y: scroll !important;
}

.code {
    margin-top: 20px;
    width: 250px;
    height: 100px;
    background-color: white;
}

.left, .middle, .right {
    float: left;
}

.title ul {
    display: inline-block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.title ul li {
    font-size: 10px;
    font-family: 'Lora';
    display: inline-block;
    color: #2ddd6d;
    text-transform: lowercase;
    margin-right: 20px;
}

.develop {
    background-color: royalblue;
    color: white;
}

.message {
    background-color: #d63e71;
    color: white;
}