* {
    overflow: unset !important;
}

.wrapper {
    overflow-y: scroll !important;
}

.title {
    font-family: 'Raleway';
    text-transform: uppercase;
    padding:10px 0;
    letter-spacing: 1px;
}

a {
    color: white;
}

.votes {
    font-size: 14px;
    padding: 13px 12px;
    display: inline-block;
    background-color: #5d5a5b;
    text-align: center;
    border-radius: 50%;
    font-family: sans-serif;
    margin: 0px 0px;
    min-width: 17px;
}

.reverse {
    transform: rotate(180deg); 
    -ms-transform: rotate(180deg); 
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.rate {
    padding: 10px;
    width: 50px;
}

.rate img {
    width: 16px;
}

.left img {
    margin-bottom: 1em;
    vertical-align: middle;
}

.description {
    font-size: 10px;
    max-width: 614px;
    text-align: justify;
    line-height: 18px;
    margin: 20px 0px 5px;
}

.purple {
    color: #2DDD6D;
    text-transform: lowercase;
    font-size: 11px;
}

.user img{
    margin-right: 5px;
    vertical-align: middle;
}

.code {
    margin-top: 20px;
    margin-left: 20px;
    width: 250px;
    height: 100px;
    background-color: white;
}

.left, .middle, .right {
    float: left;
}

.title ul {
    display: inline-block;
    padding-left: 5px;
}

.title ul li {
    font-size: 10px;
    font-family: 'Merriweather';
    display: inline-block;
    color: #2ddd6d;
    text-transform: lowercase;
    margin-right: 20px;
}

.develop {
    background-color: royalblue;
    color: white;
}

.message {
    background-color: #d63e71;
    color: white;
}

button {
    padding: 10px 29px;
    width: 150px;
    background-color: #2DDD6D;
    border: none;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    margin:20px 0 0 0;
    transition: 0.15s background-color linear;
}

button:hover {
    cursor: pointer;
    background-color: #3b3b3b;
    color: white;
}

button:disabled {
    background-color:#b2c972;
}

.creation {
    background-color: #274651;
    display: inline-block;
    font-size: 12px;
    padding: 3px 8px;
}

.wireframes {
    max-width: 620px;
}

.wireframes, .right {
    float: left;
}

.wireframes ul {
    padding-left: unset;
    padding-top: 4px;
    list-style-type: none;
}

.wireframes img {
    margin-bottom: 1em;
}

.wireframes img {
    width: 614px;
    height: 345px;
}

.right {
    margin-left: 19px;
}

.modal {
    display: block;
    width: 650px;
    height: 300px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    position: absolute;
    background-color: white;
    border: 10px solid royalblue;
    box-shadow: 0px 0px 20px black;
    padding: 40px 20px;
}

#zip-modal {
    border: 10px solid #e4ba31;
    height: 100px;
}

#message-modal p {
    font-family: sans-serif;
}

#message-modal textarea {
    font-family: sans-serif;
    font-size: 12px;
    padding: 10px;
    width: 90%;
    height: 190px;
    outline: none;
    border: 1px solid #f6f6f6;
}

#message-modal p {
    color: black;
}
