.title {
    font-family: 'Raleway';
    text-transform: uppercase;
    padding:10px 0;
    letter-spacing: 1px;
}

button {
    padding: 11px 30px;
    background-color: #2DDD6D;
    border: none;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    margin: 10px 10px 10px 0;
}

button:hover {
    cursor: pointer;
    background-color: #d63e71;
}

a {
    color: white;
}

.votes {
    margin: 10px;
    font-size: 10px;
    letter-spacing: 1px;
    padding: 10px;
    display: inline-block;
    background-color: #d63e71;
}

.reverse {
    transform: rotate(180deg); 
    -ms-transform: rotate(180deg); 
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.rate {
    padding: 10px;
    width: 50px;
}

.rate img {
    width: 16px;
}