.templates {
    margin-top: 50px;
    width: auto;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    height: 430px;
    margin-bottom: -17px;
}

.templates p {
    white-space: pre-wrap;
}

.list {
    position: relative;
    height: 430px;
    display: inline-block;
    padding-right: 2em;
}

.template {
    display: block;
    float: left;
    width: 300px;
    height: 300px;
    background-color: white;
    color: black;
    margin: 20px 7px 20px 0;
    box-sizing: border-box;
    padding: 20px;
}

.template h3 {
    font-family: 'Raleway';
    text-transform: uppercase;
    color: #13b34b
}

.small {
    font-size: 10px;
    font-weight: lighter;
}

.rate {
    width: 16px;
    background-color: #d63e71;
    padding: 10px;
    border-radius: 18px;
    vertical-align: middle;
}

.text {
    height: 200px;
}

.votes {
    text-align: right;
}

svg {
    margin-top: 20px;
    margin-right: 25px;
}

.active-heart {
    fill: white;
}

.active-heart:hover {
    cursor: pointer;
    fill:#F05228;
}

/* Buttons */

button {
    position: absolute;
    bottom: 63px;
    left: 0px;
    padding: 11px 30px;
    background-color: #2DDD6D;
    border: none;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    width: 130px;
}

button:hover {
    cursor: pointer;
    background-color: #3F35FC;
    color: white;   
}

#details {
    background-color: white; 
    color: black;
}

#details:hover {
    background-color: #F05228;
}