form {
    text-align: center;
    width: 400px;
    height: 200px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

form input {
    padding: 10px 20px;
    margin: 10px;
}

button:hover {
    cursor: pointer;
    background-color: purple;
}