<div *ngIf="auth.user" class="wrap">
    <form id="createform">
      <input placeholder="Enter a project title" type="text" [(ngModel)]="title" name="title" required/><br>
      <textarea class="desc" [(ngModel)]="description" name="description" rows="10" cols="40" placeholder="Write a description.." ></textarea>      
      <image-upload
          [max]="3"
          [url]="'http://localhost:3000/api/templates/uploadPhoto'"
          [buttonCaption]="'Upload Wireframes'"
          [dropBoxMessage]="'Or drop your images here!'"
          [extensions]="['jpg','png','gif','zip']"
          [class]="'uploader'"      
          (removed)="onRemoved($event)"
          (uploadFinished)="onUploadFinished($event)">
      </image-upload>
      <!-- Falta pushear las images al array de template.images -->
      <button (click)="create(title, description, this.auth.user._id)">Create Template</button>
    </form>
</div>